* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
#list {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 3rem;
  padding: 1rem;
}
#list li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#list li h2 {
  font-size: 1.25rem;
}
#list li p {
  font-size: 1rem;
  color: gray;
  line-height: 1.5;
}
.image {
  aspect-ratio: 3/2;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 1px rgb(209, 209, 209);
  background-color: white;
}
